#studentForm {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 70px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#studentTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}

th,
td {
    padding: 30px;
    text-align: right;
}